%h2.download
  Download
%p
  The latest release is <b>0.6.2beta1</b>. It comes in the following flavors:
  %ul
    %li
      <a href="http://rubyforge.org/frs/download.php/26258/alexandria-0.6.2b1.tar.gz"> Source Package</a>.
    %li 
      <a href="http://rubyforge.org/frs/download.php/26262/alexandria-0.6.2b1.deb">Debian Package</a>.
