:markdown
  Features
  ========
  
    *    retrieves and displays book information (sometimes with cover pictures) from several online libraries, such as [Amazon](http://www.amazon.com), [Proxis](http://www.proxis.be), [Barnes and Noble](http://www.barnesandnoble.com/), the [Spanish Ministry of Culture](http://www.mcu.es/), [Thalia](http://www.thalia.de/), [Internet Bookshop Italia](http://www.internetbookshop.it), the [US Library of Congress] (http://www.loc.gov/) and the [British Library](http://www.bl.uk/) ;
    *    allows books to be added and updated by hand ;
    *    enables searches either by <acronym title="European Article Numbering">EAN</acronym>/<acronym title="International Standard Book Number">ISBN</acronym>/<acronym title="Universal Product Code">UPC</acronym>, title, authors or keyword ;
    *    supports the <a href="http://www.z3950.org/">Z39.50</a> standard and allow you to manage your own sources ;
    *    saves data using the <a href="http://www.yaml.org"><acronym title="YAML Ain't Markup Language">YAML</acronym></a> format ;
    *    can import and export data into <a href="http://www.editeur.org/onix.html"><acronym title="ONline Information eXchange">ONIX</acronym></a>, <a href="http://www.periapsis.org/tellico/">Tellico</a> and <acronym title="European Article Numbering">EAN</acronym>/<acronym title="International Standard Book Number">ISBN</acronym>/<acronym title="Universal Product Code">UPC</acronym>-list formats ;
    *    generates from your libraries <acronym title="eXtensible Hypertext Markup Language">XHTML</acronym> web pages themable with <acronym title="Cascading Style Sheets">CSS</acronym> ;
    *    allows marking your books as loaned, each with the loan-date and the name of the person who has borrowed them ;
    *    features a <a href="http://developer.gnome.org/projects/gup/hig/"><acronym title="Human Interface Guidelines">HIG</acronym></a>-compliant user interface ;
    *    shows books in different views (standard list or icons list), that can be filtered and/or sorted;
    *    handles book rating and notes ;
    *    supports <a href="http://www.cuecat.com/">CueCat (C)</a> barcode readers ;
    *    includes translations for several languages ;
    *    is documented in a complete manual (at the moment in English only).
  
Planned features are in a <a href="http://rubyforge.org/viewvc/trunk/alexandria/TODO?revision=HEAD&root=alexandria">TODO</a> list.
