:markdown
  Feedback
  ========
  
  Alexandria is a software project in a state of active development. 
  This means we are always trying to improve the software based on the input and
  suggestions of actual users. 
  
  Here are some ways to provide feedback to the project:
  
  *   Register bugs! Submit bugs through the [Alexandria Bug Tracker](http://rubyforge.org/tracker/?group_id=205).
  *   Subscribe to the mailing list: [Alexandria Mailing List](http://rubyforge.org/mailman/listinfo/alexandria-list)
