- @layout = "application"
:markdown 
  Alexandria
  ==========
  
  Alexandria is a [GNOME](http://www.gnome.org) application to help you manage your book collection.
  
  It is [free software](http://www.gnu.org/philosophy/free-sw.html) and is distributed under the terms of the [GNU General Public License](http://www.gnu.org/licenses/old-licenses/gpl-2.0.html) (version 2 or later).

