%h1 
  Alexandria

%p 
  Alexandria is a 
  = link "GNOME", "http://www.gnome.org" 
  application to help you manage your book collection.
  
%h2#features
  Features
%p
  Alexandria:
    
%ul
  
  %li
    retrieves and displays book information (sometimes with cover pictures) from several online libraries, such as <a href="http://www.amazon.com">Amazon</a>, <a href="http://www.proxis.be">Proxis</a>, <a href="http://www.barnesandnoble.com/">Barnes and Noble</a>, the <a href="http://www.mcu.es/">Spanish Ministry of Culture</a>, <a href="http://www.thalia.de/">Thalia</a>, <a href="http://www.internetbookshop.it">Internet Bookshop Italia</a>, the <a href="http://www.loc.gov/">US Library of Congress</a> and the <a href="http://www.bl.uk/">British Library</a> ;
  %li
    allows books to be added and updated by hand ;
  %li
    enables searches either by <acronym title="European Article Numbering">EAN</acronym>/<acronym title="International Standard Book Number">ISBN</acronym>/<acronym title="Universal Product Code">UPC</acronym>, title, authors or keyword ;
  %li
    supports the <a href="http://www.z3950.org/">Z39.50</a> standard and allow you to manage your own sources ;
  %li
    saves data using the <a href="http://www.yaml.org"><acronym title="YAML Ain't Markup Language">YAML</acronym></a> format ;
  %li
    can import and export data into <a href="http://www.editeur.org/onix.html"><acronym title="ONline Information eXchange">ONIX</acronym></a>, <a href="http://www.periapsis.org/tellico/">Tellico</a> and <acronym title="European Article Numbering">EAN</acronym>/<acronym title="International Standard Book Number">ISBN</acronym>/<acronym title="Universal Product Code">UPC</acronym>-list formats ;
  %li
    generates from your libraries <acronym title="eXtensible Hypertext Markup Language">XHTML</acronym> web pages themable with <acronym title="Cascading Style Sheets">CSS</acronym> ;
  %li
    allows marking your books as loaned, each with the loan-date and the name of the person who has borrowed them ;
  %li 
    features a <a href="http://developer.gnome.org/projects/gup/hig/"><acronym title="Human Interface Guidelines">HIG</acronym></a>-compliant user interface ;
  %li
    shows books in different views (standard list or icons list), that can be filtered and/or sorted;
  %li
    handles book rating and notes ;
  %li
    supports <a href="http://www.cuecat.com/">CueCat (C)</a> barcode readers ;
  %li
    includes translations for several languages ;
  %li
    is documented in a complete manual (at the moment in English only).
  
%p
  Planned features are in a <a href="http://rubyforge.org/viewvc/trunk/alexandria/TODO?revision=HEAD&root=alexandria">TODO</a> list.
  
%p
  Alexandria is written during spare time.  If you want to support the development you can make a donation (whatever you want).  
  
