!!!
%html
  %head
    %title Alexandria: a book collection manager for GNOME 
    %link{:href => "/stylesheets/screen.css", :media => 'screen/projection', :rel => "stylesheet"}
    %link{:href => "/stylesheets/print.css", :media => 'print', :rel => "stylesheet"}
    %link{:href => "/stylesheets/menu.css", :rel => "stylesheet"}
  %body.section-4
    .container
      #header.column.span-24.first.last
        = partial("header") 
      #content.column.span-16.first.last
        = yield 
      #footer.column.span-24.first.last
        = partial("footer")
