.menu {
  border-bottom : 1px solid gray;
  margin : 0;
  padding-bottom : 19px;
  padding-left : 10px;
  font-weight: bold;
}

.menu ul, .menu li      {
  display : inline;
  list-style-type : none;
  margin : 0;
  padding : 0;
  font-weight: bold;
}

.menu a:link, .menu a:visited   {
  font-weight: bold;
  background : #E8EBF0;
  border : 1px solid gray;
  color : #666;
  float : left;
  font-size : small;
  line-height : 14px;
  margin-right : 8px;
  padding : 2px 10px 2px 10px;
  text-decoration : none;
}

.menu a:link.active, .menu a:visited.active     {
  font-weight: bold;
  background : #fff;
  border-bottom : 1px solid #fff;
  color : #000;
}

.menu a:hover   {
  font-weight: bold;
  color : darkRed;
}
a:link {
content: "";
}

.menu ul a:hover {
color : #f00 !important;
font-weight : bold;
}
