body.section-1 #menu li#nav-1 a,
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a,
body.section-5 #menu li#nav-5 a,
body.section-6 #menu li#nav-6 a,
body.section-7 #menu li#nav-7 a {
background : #fff;
border-bottom : 1px solid #fff;
color : #000;
font-weight: bold;
}
body.section-1 #menu ul,
body.section-2 #menu ul,
body.section-3 #menu ul,
body.section-4 #menu ul,
body.section-5 #menu ul,
body.section-6 #menu ul,
body.section-7 #menu ul {
    font-weight: bold;
    display : inline;
    left : 10px;
    position : absolute;
    top : 95px;
    background : #fff;
    border : none;
    border-left : 1px solid gray;
    color : #999;
    font-size : smaller;
    line-height : 10px;
    margin-right : 4px;
    padding : 2px 10px 2px 10px;
    text-decoration : none;
}
