InstalledFiles
config.save
alexandria.desktop
alexandria.desktop.in.h
.svn-authors
Gemfile.lock
.yardoc/
share/locale/
share/omf/alexandria/*.omf
pkg/
coverage/
tmp/
po/*.po~
po/*.mo
po/*.pot
*.gem
*.glade~
