InstalledFiles
config.save
alexandria.desktop
alexandria.desktop.in.h
.svn-authors
lib/alexandria/default_preferences.rb
Gemfile.lock
.yardoc/
share/locale/
share/omf/alexandria/*.omf
pkg/
coverage/
tmp/
*.gem
