[Desktop Entry]
Encoding=UTF-8
Name=Alexandria Book Collection Manager
Name[cs]=Alexandria správce sbírek knih
Name[cy]=Trefnydd Casgliad Llyfrau Alexandria
Name[cz]=Alexandria správce sbírek knih
Name[de]=Alexandria Büchersammlungs-Manager
Name[es]=Alexandria: gestor de colecciones de libros
Name[fr]=Gestionnaire de collection de livres Alexandria
Name[it]=Alexandria - Gestione biblioteca
Name[ja]=Alexandria ブック・コレクション・マネージャ
Name[nl]=Alexandria Boekcollectiebeheerder
Name[pl]=Program do zarządzania domową biblioteką Aleksandria 
Name[pt]=Gestor da Colecção de Livros Alexandria
Name[pt_BR]=Gerenciador de coleções de livros Alexandria
Name[sv]=Boksamlingshanteraren Alexandria
Name[uk]=Alexandria  - менеджер книжкових зібрань
GenericName=Book Collection Manager
GenericName[cs]=Správce sbírky knih
GenericName[cy]=Trefnydd Casgliad Llyfrau
GenericName[cz]=Správce sbírky knih
GenericName[de]=Büchersammlungs-Manager
GenericName[es]=Gestor de colecciones de libros
GenericName[fr]=Gestionnaire de collection de livres
GenericName[it]=Gestore biblioteca
GenericName[ja]=ブック・コレクション・マネージャ
GenericName[nl]=Boekcollectiebeheerder
GenericName[pl]=Zarządzanie Domową Biblioteką
GenericName[pt]=Gestor da Colecção de Livros
GenericName[pt_BR]=Gerenciador de coleções de livros
GenericName[sv]=Boksamlingshanterare
GenericName[uk]=Менеджер книжкових зібрань
Comment=Manage your book collection
Comment[cs]=Spravovat vaši sbírku knih
Comment[cy]=Trefnu eich casgliad llyfrau
Comment[cz]=Spravovat vaši sbírku knih
Comment[de]=Ordnen sie ihre Büchersammlung.
Comment[es]=Organiza tu colección de libros
Comment[fr]=Gérez votre collection de livres
Comment[it]=Gestisce la vostra biblioteca
Comment[ja]=ブック・コレクション管理お手伝いプログラム
Comment[nl]=Beheer uw boekcollectie
Comment[pl]=Zarządzaj swoją biblioteką
Comment[pt]=Faça a gestão da sua colecção de livros
Comment[pt_BR]=Gerencie a sua coleção de livros
Comment[sv]=Hantera din boksamling
Comment[uk]=Керуйте своїми книжковими зібраннями
Exec=/usr/bin/alexandria
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Database;
Icon=alexandria
