%ul#menu
  %li#nav-1
    = link "Home", "/index.html"
  %li#nav-2
    = link "Download", "/download.html"
  %li#nav-3
    = link "RDoc", "/rdoc/html/"
  %li#nav-4
    = link "Rcov", "/rcov/"
!!!  %li#nav-5
!!!    = link "Support", "/support.html"
