%ul#menu
  %li#nav-1
    = link "Home", "/index.html"
  %li#nav-2
    = link "Download", "/download.html"
!!!  %li#nav-3
!!!    = link "Features", "/feature.html"
!!!  %li#nav-4
!!!    = link "Screenshots", "/screenshots.html"
!!!  %li#nav-5
!!!    = link "Support", "/support.html"
