Source: alexandria
Section: gnome
Priority: extra
Maintainer: Joseph Method <tristil@gmail.com>
Build-Depends:  ruby1.8, rake, xsltproc, docbook-xsl, gettext, intltool
Standards-Version: 3.6.2

Package: alexandria
Section: gnome
Priority: extra
Architecture: all
Depends: ruby1.8, libamazon-ruby (>= 0.8.3), libgnome2-ruby (>= 0.12.0), libglade2-ruby (>= 0.12.0), libgconf2-ruby (>= 0.12.0), libyaml-ruby1.8, libgettext-ruby1.8, gconf2 (>= 2.12.1-4ubuntu1)
Description: a GNOME application for managing book collections
 Alexandria is a program for organising collections of books. It
 .
   * retrieves and displays book information (including cover pictures) from
     several online libraries, such as Amazon, Proxis and Barnes and Noble
   * allows books to be added and updated by hand
   * enables searches either by EAN/ISBN, title, authors or keyword
   * can import and export data into ONIX, Tellico and ISBN-list formats
   * features a HIG-compliant user interface
   * handles book rating and notes
   * supports CueCat (R) barcode readers
 .
 Website: http://alexandria.rubyforge.org/
