#!/usr/bin/make -f

PACKAGE := alexandria
TMPDIR := debian/tmp

build: build-stamp
build-stamp:
	test -e debian/control
	touch build-stamp

clean:
	test -e debian/control
	test 0 = "`id -u`" || (echo need root privileges; exit 1)
	rm -f build-stamp install-stamp
	rake clobber

# Build architecture-independent files here.
binary-indep: build debian/control
	test -e debian/control
	test 0 = "`id -u`" || (echo need root privileges; exit 1)
	rake debian:deb_files
	dpkg --build $(TMPDIR) ..

# Build architecture-dependent files here.
binary-arch: build

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
